.container {
    display:flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    animation: fadeIn 1s ease;
}

.text-container {
    display: flex;
    height: fit-content;
    flex-direction: column;
    margin-bottom: 100px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
     background-image: url(../images/back.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
    margin: 0;
    overflow: hidden;
}

p {
    opacity: 0;
    animation: fadeIn 2s forwards;
    font-family: monospace;
    font-size: 25px;
    color: #247BA0;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

button {
     background-color: white;
    text-decoration: none;
    border: none;
    display: inline-block;
    font-family: 'Roboto';
    font-size: large;
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
}

form {
    display: flex;
    justify-content: center;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(40px);}
    to { opacity: 1; transform: translateY(0);}
}

button:hover {opacity: 0.6}