.quest {
    width: fit-content;
    height: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    animation: fadeIn 1s ease;
}

.form-container {
    margin-top: 100px;
    display: flex;
    justify-content:space-between;
    gap: 50px;
}

form {
    height: fit-content;
    width: fit-content;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(../images/back.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
    margin: 0;
    overflow: hidden;
}

p {
    opacity: 0;
    animation: fadeIn 2s forwards;
    font-family: 'Roboto';
    font-size: 25px;
    color: #247BA0;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    max-width: 600px;
    overflow-wrap: break-word;
}

button {
    background-color: white;
    text-decoration: none;
    border: none;
    display: inline-block;
    font-family: 'Roboto';
    font-size: large;
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(40px);}
    to { opacity: 1; transform: translateY(0);}
}

button:hover {opacity: 0.6}