<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/css/stylem.css}">
    <link rel="stylesheet" href="../static/css/stylem.css">
    <link rel="icon" type="image/x-icon" th:href="@{/images/icon.svg}"> 
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Quiver web app</title>
</head>
<body>
    <div id="header">
        <img th:src="@{/images/Quiver.svg}" alt="Logo">
        <div id="button-container">
            <form action="/about" method="get">
                <button type="submit">About</button>
            </form>
            <form action="/contact" method="get">
                <button type="submit">Contact</button>
            </form>
            <form action="/" method="get">
                <button type="submit">Main page</button>
            </form>
        </div>
    </div>
    <div id="container">
        <div class="main-card">
            <p>Email: robert@boanta.ro <br>
                Github: <a href="https://github.com/Whires">Whires</a>
            </p>
        </div>
    </div>   
    <div id="footer">
        <span>Boanta Robert - Facut pentru concursul "The beauty of coding" 2025, editia a-IV-a</span>
    </div>
</body>
</html>